<html>
<head>
	<title>Curt Framework</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<script src="/public/js/libs/platform/platform.js"></script>
	<link rel="import" href="/public/js/libs/components/font-roboto/roboto.html">
</head>
<body>

	<p>It's the beginning...</p>

	<script src="/public/js/libs/angular-loader/angular-loader.min.js"></script>
	<script data-main="/public/js/main" src="/public/js/libs/requirejs/require.js"></script>
</body>
</html>